---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign category_posts = site.publications | where: "category", category[0] | sort: "date" | reverse %}
    {% if category_posts.size > 0 %}
<h2>{{ category[1].title }}</h2>
<hr />
<ol class="publication-list">
      {% for post in category_posts %}
  <li>{{ post.citation }}</li>
      {% endfor %}
</ol>
    {% endif %}
  {% endfor %}
{% else %}
  {% assign all_posts = site.publications | sort: "date" | reverse %}
<ol class="publication-list">
  {% for post in all_posts %}
  <li>{{ post.citation }}</li>
  {% endfor %}
</ol>
{% endif %}
